<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% if current_user.nil? %>
	<form method="POST" action="/sign_in">
		<input type="text" placeholder="ユーザ名" name="user_name">
		<input type="password" placeholder="パスワード" name="password">
		<input type="submit" value="ログイン">
	</form>
	<div class="login_button">
	</div>
	<% end %>
</section>
<% if current_user %>
	<section class="center-vertical">
		<h1>最新の投稿</h1>
		<% if @posts %>
			<% @posts.each do |post| %>
				<div class="post center-vertical">
					<img src=<%= post.image_url %> width="125" height="125">
					<p>artist: <%= post.artist %></p>
					<p>コメント: <%= post.comment %></p>
					<p>投稿者: <%= post.user.name %><br>
					<% if current_user != post.user %>
						<% if Relationship.find_by(following_id:current_user.id,followed_id:post.user.id).nil? %>
							<a href="/follow/<%= post.user.id %>">フォローする</a><br>
						<% else %>
							<a href="/unfollow/<%= post.user.id %>">フォロー解除</a><br>
						<% end %>
					<% end %>
					</p>
					<p>いいねしたユーザー<br>
						<% post.favorites.each do |favorite| %>
							<img src=<%= favorite.user.image_url %> alt="user_image" width="40" height="40">
						<% end %>
					</p>
					<% if current_user != post.user %>
						<% if current_user.favorites.find_by(post_id:post.id).nil? %>
							<a href="/favorite/<%= post.id %>">いいねする</a>
						<% else %>
							<a href="/unfavorite/<%= post.id %>">いいねを取り消す</a>
						<% end %>
					<% end %>
				</div>
			<% end %>
		<% else %>
			<%# TODO: ここで分岐 %>
			<p>投稿がありません</p>
		<% end %>
	</section>
<% end %>